<nav id="sidebar" class="sidebar">
  <div class="sidebar-content">
    <a class="sidebar-brand" href="{% url 'staff_dashboard' %}">
      <i class="bi bi-grid-fill"></i>
      <span>FUNFOOD Staff</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">Menu</li>
      <li class="sidebar-item {% if request.resolver_match.url_name == 'staff_dashboard' %}active{% endif %}">
        <a class="sidebar-link" href="{% url 'staff_dashboard' %}">
          <i class="bi bi-house-door"></i>Dashboard
        </a>
      </li>
      <li class="sidebar-item {% if request.resolver_match.url_name == 'staff_recipes' %}active{% endif %}">
        <a class="sidebar-link" href="{% url 'staff_recipes' %}">
          <i class="bi bi-journal-text"></i>Resep
        </a>
      </li>
      <li class="sidebar-item {% if request.resolver_match.url_name == 'staff_categories' %}active{% endif %}">
        <a class="sidebar-link" href="{% url 'staff_categories' %}">
          <i class="bi bi-tags"></i>Kategori
        </a>
      </li>
    </ul>
  </div>
</nav>