:root {
  --bs-light-rgb: 241, 227, 201;
  --bs-dark-rgb: 6, 7, 7;
  --bs-primary-rgb: 242, 182, 18;
  --bs-secondary-rgb: 215, 85, 59;
  --bs-info-rgb: 0, 210, 248;
  --bs-success-rgb: 91, 201, 0;
  --bs-warning-rgb: 255, 204, 126;
  --bs-danger-rgb: 255, 24, 100;
}

*, body {
  font-family: 'Funnel Display', sans-serif;
}

.bg-primary {
  background-color: rgb(var(--bs-primary-rgb)) !important;
}

.bg-light {
  background-color: rgb(var(--bs-light-rgb)) !important;
}

.bg-dark {
  background-color: rgb(var(--bs-dark-rgb)) !important;
}

.navbar-dark .navbar-brand {
  color: rgb(var(--bs-light-rgb)) !important;
}

.navbar-dark .nav-link {
  color: rgba(var(--bs-light-rgb), 0.8) !important;
}

.navbar-dark .nav-link:hover,
.navbar-dark .navbar-brand:hover {
  color: rgb(var(--bs-primary-rgb)) !important;
}

.btn-primary {
  background-color: rgb(var(--bs-primary-rgb));
  border-color: rgb(var(--bs-primary-rgb));
}

.btn-primary:hover {
  background-color: rgb(var(--bs-secondary-rgb));
  border-color: rgb(var(--bs-secondary-rgb));
}

.btn-outline-primary {
  color: rgb(var(--bs-primary-rgb));
  border-color: rgb(var(--bs-primary-rgb));
}

.btn-outline-primary:hover {
  background-color: rgb(var(--bs-primary-rgb));
  color: white;
  border: 1px solid rgb(var(--bs-primary-rgb));
}

.btn-active {
  text-decoration: underline;
}

.btn-dark {
  background-color: rgb(var(--bs-dark-rgb));
  border-color: rgb(var(--bs-dark-rgb));
}

.btn-dark:hover {
  background-color: rgb(var(--bs-secondary-rgb));
  border-color: rgb(var(--bs-secondary-rgb));
}

.btn-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.5);
}

.btn-warning {
  background-color: rgb(var(--bs-warning-rgb));
  border-color: rgb(var(--bs-warning-rgb));
}

.btn-warning:hover {
  background-color: rgb(var(--bs-secondary-rgb));
  border-color: rgb(var(--bs-secondary-rgb));
}

.btn-warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.5);
}

.btn-danger {
  background-color: rgb(var(--bs-danger-rgb));
  border-color: rgb(var(--bs-danger-rgb));
}

.btn-danger:hover {
  background-color: rgb(var(--bs-secondary-rgb));
  border-color: rgb(var(--bs-secondary-rgb));
}

.btn-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.5);
}

.bg-danger {
  background-color: rgb(var(--bs-danger-rgb));
}

.bg-warning {
  background-color: rgb(var(--bs-warning-rgb));
}

.bg-success {
  background-color: rgb(var(--bs-success-rgb));
}

.active {
  color: white;
  text-decoration-line: underline;
  border-radius: 4px;
  font-weight: 700;
}