<div class="modal fade" id="deleteModal{{ category.id }}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Konfirmasi Hapus</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Apakah Anda yakin ingin menghapus kategori "{{ category.name }}"?</p>
        {% if category.recipe_count > 0 %}
        <div class="alert alert-warning">
          <i class="bi bi-exclamation-triangle"></i>
          Kategori ini memiliki {{ category.recipe_count }} resep terkait.
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
        <form action="{% url 'admin_delete_category' category.id %}" method="post" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Hapus</button>
        </form>
      </div>
    </div>
  </div>
</div>