<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bolder" href="{% url 'home' %}">FUNFOOD</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-2">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">Tentang Kami</a>
        </li>
        {% if user.is_authenticated %}
        <div class="btn-group">
          <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="{% url 'my_recipes' %}">Resep Saya</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'favorite_recipes' %}">Resep Favorit</a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
              <a class="dropdown-item d-flex justify-content-center gap-2" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="bi bi-box-arrow-right"></i>Keluar</a> 
            </li>
          </ul>
        </div>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'login' %}">Masuk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href="{% url 'register' %}">Daftar</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Logout Modal -->
{% include 'components/modal/logout.html' %}
